/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$base-color: #333;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$padding-base: 10px;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font: 80% $font-stack;
  font-weight: bold;
  color: $base-color;

  header {
    @extend %flex-center;
    background-color: lighten($base-color, 40%);

    nav {
      margin: $padding-base;

      ul {
        padding: 0;
        list-style: none;
        
        li {
          display: inline-block;
          margin: 0 $padding-base / 2;
          &:hover {
            background-color: darken($base-color, 10%);
          }
        }
      }
    }
  }

}

.btn {
    padding: $padding-base;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
  
    &.btn-primary {
      background-color: #007bff;
      color: white; 
  
      &:hover {
        background-color: darken(#007bff, 10%);
        text-decoration:solid;
      }
    }
  
    &.btn-lg {
      padding: $padding-base * 1.5;
      font-size: 1.25rem;
    }
  }
