<div class="container">
  <h1 class="mt-4 mb-4">Categories</h1>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category_path(category), class: "list-group-item list-group-item-action d-flex align-items-center" do %>
        <%= image_tag "#{category.category_name.downcase}.jpg", alt: "#{category.category_name} image", class: "img-fluid mr-3", style: "width: 100px; height: 100px; object-fit: cover;" %>
        <span><%= category.category_name %></span>
      <% end %>
    <% end %>
  </div>
</div>
